@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #09090b; /* Zinc-950 (Very Dark) */
}

/* Custom Scrollbar Dark & Green Theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b; /* Zinc-900 */
}

::-webkit-scrollbar-thumb {
  background: #10b981; /* Emerald-500 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #059669; /* Emerald-600 */
}

/* Utility untuk text selection */
::selection {
  background-color: #10b981;
  color: #ffffff;
}